@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Roboto+Slab:wght@200;300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer compoments {
  .text-primary {
    @apply text-[#AD791C];
  }
  .section-title {
    @apply text-4xl  font-roboto text-primary font-bold;
  }
}

.main-hero-bg {
  background: url('/static/images/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
}
